---
// Footer.astro
---

<footer class="absolute bottom-0 w-full py-3 px-4 text-center text-white/70 text-xs bg-black/20 backdrop-blur-sm z-10">
    <p>
      Designed with <a href="https://greenberry.ie" target="_blank" rel="noopener" class="font-bold hover:underline">Greenberry</a> by Bernard McWeeney | &copy; 2025 Dowth.ie. All rights reserved.
    </p>
</footer>